---
---

$section-headings-color: #6363B0 !default;

@import "{{ site.theme }}";

.main-content {
  max-width: 80rem; 
}

.page-header {
 color:#fff;
 text-align:center;
 background-color:#159957;
 background-image:linear-gradient(120deg, #155799, #159957)
}

.page-header {
  background-image: url();
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: 10vh;
  text-shadow: #222 0px 0px 5px;
}
.page-header a {
 color:#fff
}

.project-tagline {
  color: #fff;
  opacity: 1;
}

.project-blurb {
  display:flex;
  margin-top:15px;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .project-blurb {
    flex-direction: column; 
  }
}

.project-body {
  flex:2 0;
  padding:0px 0px 20px 35px;
  margin:auto;
}
